body{
  /* background-color: #161616; */
  color: #ddd;
  padding: 50px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
}
h1{
  color: green;/*#eef;*/
  text-align: center;
}
input, select{
  color: green;
}

  

