body{
  color: #ddd;
  padding: 50px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
}
h1{
  color: green;
  text-align: center;
  margin-left: 3rem;
}
input, select{
  color: green;
}

  

